.row {
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(156, 179, 128, 0.2);
    padding: 5px;
}

.account img {
    width: 100%;
    border-radius: 50%;
}

.text {
    width: 60%;
    padding: 10px 40px;
}

.img-container {
    width: 30%;
    padding-bottom: 20px;
}

.sign-out {
    margin-bottom: 160px;
}