.welcome_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.welcome_banner_one {
    text-align: center;
}

.share_card {
    text-align: center;
    height: 400px;
    margin-top: -200px;
}

.share_card img {
    justify-content: center;
}

a {
    text-decoration: none;
}