.welcome_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url('/images/grocery_welcome\ 2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    box-sizing: content-box;
}

.welcome_banner_one {
    color: white;
    text-align: center;
}

.welcome_banner_two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url('/images/egghand.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    box-sizing: content-box;
}


.share_card {
    text-align: center;
    height: 400px;
    margin-top: -200px;
}

.share_card img {
    justify-content: center;
}

a {
    text-decoration: none;
}

/*prevents weird padding on sides of footer*/
footer.container-fluid {
    padding: 0;
}

/*
This is all commented out due to not wanting to make the final decision for it
    
    these lines make the footer stick to the bottom of the page 
    rather than the bottom of the viewport when the screen is large enough

.fixed-bottom {
    position: relative;
}

@media (min-width:576px) {
    .fixed-bottom {
        position: fixed;
    }
}
*/