.welcome_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url('/images/grocery_welcome\ 2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    box-sizing: content-box;
}

.welcome_banner_one {
    color: white;
    text-align: center;
}

.welcome_banner_two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url('/images/egghand.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    box-sizing: content-box;
}


.share_card {
    text-align: center;
    height: 400px;
    margin-top: -200px;
}

.share_card img {
    justify-content: center;
}

a {
    text-decoration: none;
}

/*prevents weird padding on sides of footer*/
footer.container-fluid {
    padding: 0;
}

/*-------------------------------------
 * NAVBAR
 *-------------------------------------
 */

.small_nav {
    display: none;
}

.nav_hamburger {
    display: none;
}

.small_nav ul {
    list-style: none;
}

.small_nav li {
    display: inline-block;
    padding: 0 10px;
}

#nav_center {
    display: flex;
    justify-content: center;
}

#color_white {
    color: white;
}



/*-------------------------------------
 * FOOTER
 *-------------------------------------
 */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: white;
}

.footer_icon {
    text-align: center;
}

.footer_icon p {
    color: white;
}

/*
    Firebase
        
    Uses integer literal for color, will change to variable if used more than this
*/
.mdl-button--colored {
    background-color: #198754 !important;
}


/*-------------------------------------
 * MEDIUM SCREENS
 *-------------------------------------
 */
@media screen and (max-width: 992px) {
    .search_bar {
        padding-top: 7px;
        width: 100%;
    }

    .small_nav {
        display: block;
        width: 100%;
    }
}


/*
This is all commented out due to not wanting to make the final decision for it
    
    these lines make the footer stick to the bottom of the page 
    rather than the bottom of the viewport when the screen is large enough

.fixed-bottom {
    position: relative;
}

@media (min-width:576px) {
    .fixed-bottom {
        position: fixed;
    }
}
*/